### Importing necessary libaries 
###### Calling the whole directory and storing the '.txt' files

In [242]:
import numpy as np
import pandas as pd
import json
import os
import re
file=[]
for root, dirs, files in os.walk(r"C:\Users\Angshuman Bardhan\Desktop\IDA\Assess - Angshuman\Assess - Angshuman"):
    for i in files:
        file.append(os.path.join(root, i))

##### Neglecting the Readme.txt file

In [243]:
path=[]
for j in file:
    if j[-10:]!='README.txt':
        path.append(j)
    else:
        pass

### Functions for each feature of file

### 1. File Content Extractor

In [244]:
def ext(p):
    f1=open(p, encoding="utf8")
    arr=[]
    for x in f1:
        arr.append(x.rstrip())
    for i in range(len(arr)):
        if arr[i]=='':
            arr[i]="0"
    res = [] 
    for ii in arr: 
        if ii not in res:
            res.append(ii)
    res.remove('0')
    return(res)

### 2. Transaction ID Extractor

In [245]:
def trans(res):
    a=[]
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bTransaction\b',s)
        if match:
            s=res[i]
            n=re.findall('\d+',s)
            if len(n)==0:
                a.append('Nil')
            else:
                a.append(n[0])
            break
        else:
            pass
    return(a)

### 3. Borrower Name Extractor

In [246]:
def borrow(res):
    a=[]
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bBorrower Name\b',s)
        if match:
            s=res[i]
            l=s.split(':')
            a.append(l[1])
            break
        else:
            pass
        
    return(a)

### 4. Address Extractor

In [290]:
def address(res):
    a=[]
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bAddress\b',s)
        if match:
            s=res[i]
            l=s.split(':')
            a.append(l[1])
            break
        else:
            pass
        
    return(a)

### 5. Deeds Extractor

In [291]:
def deeds(res):
    a=[]
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bDeeds\b',s)
        if match:
            s=res[i]
            l=s.split(':')
            a.append(l[2])
            break
        else:
            pass
        
    return(a)

### 6. Tax Amount Extractor

In [328]:
def tax(res):
    a=[]
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bLast Amount of Transfer Tax\b',s)
        if match:
            s=res[i]
            l=re.findall("\d+\.\d+", s)
            a.append(l)
            break
        else:
            pass
        
    return(a)

### 7. County Extractor

In [362]:
def county(res):
    a=''
    for i in range(len(res)):
        s = res[i]
        match = re.search(r'\bCounty\b',s)
        if match:
            s=res[i]
            l=s.split(' ')
            a=l[1]+' '+l[2]
            break
        else:
            pass
        
    return(a)

### Forming Details

In [363]:
tran=[]
b=[]
ad=[]
dd=[]
t=[]
c=[]
for i in range(len(path)):
    tran.append(trans(ext(path[i]))[0])
    b.append(borrow(ext(path[i]))[0])
    b[i]=b[i].split('_')[0]
    ad.append(address(ext(path[i])))
    dd.append(deeds(ext(path[i])))
    t.append(tax(ext(path[i])))
    c.append(county(ext(path[i])))
for j in range(len(ad)):
    if ad[j]==[]:
        ad[j]="No Address Info"
for j in range(len(ad)):
    if t[j]==[[]]:
        t[j]="No Transfer"

### Creating a Dataframe

In [376]:
f1=[tran[0],b[0],ad[0],dd[0][0],t[0][0][0],c[0]]
f2=[tran[1],b[1],ad[1][0],dd[1][0],t[1][0][0],c[1]]
f3=[tran[2],b[2],ad[2][0],dd[2][0],t[2][0][0],c[2]]
f4=[tran[3],b[3],ad[3][0],dd[3][0],t[3][0][0],c[3]]
f5=[tran[4],b[4],ad[4][0],dd[4][0],t[4],c[4]]
data= {'Feature':['Transaction ID','Borrower Name','Address','Deeds','Last Amount of Transfer Tax','County'],'File 1':f1,'File 2':f2,'File 3':f3,'File 4':f4,'File 5':f5} 
df= pd.DataFrame(data2)

In [378]:
df

,Feature,File 1,File 2,File 3,File 4,File 5
0,Transaction ID,8611116,Nil,5236822,3611891,1456666
1,Borrower Name,"GeoKul Standard LLC, a Delaware Limited Liabi...",JOSEPH BOSSE,"Roger, Koren",Clark Roger,Rajloom Mora and Muhammed Mora
2,Address,No Address Info,- 918 PALMER LANE,12 East Legotown #400,734 Ronley Road,"545 Mcdowell Farm Trace, Maryetta, GA 30011"
3,Deeds,"Benjamin Franklin and Julia Robert, as joint ...",ALERSF BABAY,"700 Low Raye, LLC",Daniella Fobbier,Nathan W. Cary and Ariana E. Cary
4,Last Amount of Transfer Tax,439.90,110.00,000.00,41.50,No Transfer
5,County,Fulton Land,COBB Land,Fulton Land,Bartow Land,Cobb Land

In [380]:
json = df.to_json() 
print(json)

{"Feature":{"0":"Transaction ID","1":"Borrower Name","2":"Address","3":"Deeds","4":"Last Amount of Transfer Tax","5":"County"},"File 1":{"0":"8611116","1":" GeoKul Standard LLC, a Delaware Limited Liability COMPANY","2":"No Address Info","3":" Benjamin Franklin and Julia Robert, as joint tenants with right of survivorship _","4":"439.90","5":"Fulton Land"},"File 2":{"0":"Nil","1":" JOSEPH BOSSE","2":" - 918 PALMER LANE","3":" ALERSF BABAY","4":"110.00","5":"COBB Land"},"File 3":{"0":"5236822","1":" Roger, Koren ","2":" 12 East Legotown #400","3":" 700 Low Raye, LLC","4":"000.00","5":"Fulton Land"},"File 4":{"0":"3611891","1":" Clark Roger","2":" 734 Ronley Road","3":" Daniella Fobbier","4":"41.50","5":"Bartow Land"},"File 5":{"0":"1456666","1":" Rajloom Mora and Muhammed Mora ","2":" 545 Mcdowell Farm Trace, Maryetta, GA 30011","3":" Nathan W. Cary and Ariana E. Cary","4":"No Transfer","5":"Cobb Land"}}